<!DOCTYPE html>
<html>
<head>
	<title>Interface</title>
</head>
<body>

	 <form action="/process" method="POST">
	 	<label for="company">Company: &emsp;&emsp;</label>
		<input placeholder='company_name' type="text" id="copmany" name="company"><br><br>

		<label for="baseURL">Base URL: &emsp;&emsp;</label>
		<input type="text" id="baseURL" name="baseURL"><br><br>

		<label for="careersURL">Careers URL: &emsp;&emsp;</label>
		<input type="text" id="careersURL" name="careersURL"><br><br>

		<label for="jobListX">Job List Xpath: &emsp;&emsp;</label>
		<input type="text" id="jobListX" name="jobListX"><br><br>

		<label for="jobX">Job Xpath: &emsp;&emsp;</label>
		<input type="text" id="jobX" name="jobX"><br><br>

		<label for="locationX">Location Xpath: &emsp;&emsp;</label>
		<input type="text" id="locationX" name="locationX"><br><br>

		<label for="jobURLX">Job URL Xpath: &emsp;&emsp;</label>
		<input type="text" id="jobURLX" name="jobURLX"><br><br>

		<label for="jobURLAttr">Job URL Attribute: &emsp;&emsp;</label>
		<input type="text" id="jobURLAttr" name="jobURLAttr"><br><br>

		<input type="submit" value="Submit">
	</form> 

</body>
</html>